services:
  # ******** Backend (Spring Boot) ********
  backend:
    container_name: backend
    build:
      context: ./cesizen
      dockerfile: DockerFile
    env_file:
      - ./.env
    ports:
      - "8080:8080"
    depends_on:
      - db

  # ******** Database (PostgreSQL) ********
  db:
    image: postgres:16
    container_name: cesizen-postgres
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # ******** Frontend (Angular) ********
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: DockerFile
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/home/app
      - /home/app/node_modules
    depends_on:
      - backend

volumes:
  pgdata:
